

<div class="d-flex justify-content-center align-items-center m-5">
    <div class="card align-items-center p-2" style="width: 30rem;">
    <img [src]="contact.photo" alt="" width="200px" height="200px">   
    <div class="card">
        <h3>{{contact.name}}</h3>
        <h6>id :{{contact.id}}</h6>
        <h6>Mobile: {{contact.mobile}}</h6>
        <h6>Email: {{contact.email}}</h6>
        <h6>company :{{contact.company}}</h6>
        <h6>group:{{group}}</h6>
        <h6>title:{{contact.title}}</h6>
    </div>
</div>
</div>