<div class="container mt-1">
    <!-- header part -->
    <div class="row">
        <div class="col">
            <!-- title -->
            <h1 class="text-primary"><i class="fa-solid fa-user-pen  me-2"></i> Update Contact Page </h1>
            <!-- content -->
            <p class="mt-3" style="text-align: justify;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa in ratione error veniam, laborum quos est nihil repellendus adipisci recusandae, vitae dolor officia fuga id laudantium aliquam doloremque fugiat maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ratione repudiandae culpa? Exercitationem iusto aliquid sint laudantium at, perferendis, doloribus dolor delectus id modi architecto soluta quidem libero, vero dicta. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quasi natus voluptates hic recusandae, consectetur reprehenderit repudiandae explicabo nihil non! Excepturi sint quo illo soluta illum aspernatur sit architecto? Expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quos quia quibusdam sed iste, quasi minima suscipit dolorem. A architecto quos corrupti commodi sint doloribus sequi labore, saepe incidunt officiis?
            </p>
        </div>
    </div>

    <!-- form design -->
    <div class="row mt-5">
        <!-- form -->
        <div class="col-md-8">
            <form #editContactForm="ngForm" class="border p-3 rounded">
                <!-- id -->
                <div class="form-floating mb-3">
                    <input name="id" #id="ngModel" [(ngModel)]="contact.id" type="text" class="form-control" id="floatingInputid" placeholder="Contact Id" required>
                    <label for="floatingInputid">Contact Id</label>
                </div>
                <!-- invalid id -->
                <div *ngIf="id.invalid && id.touched" class="mb-3 text-danger">
                   Please enter a valid Id
                </div>

                 <!-- name -->
                 <div class="form-floating mb-3">
                    <input name="name" #name="ngModel" [(ngModel)]="contact.name" type="text" class="form-control" id="floatingInputname" placeholder="Contact Name" pattern="[a-zA-Z ]*" required>
                    <label for="floatingInputname">Contact Name</label>
                </div>

                <!-- invalid name -->
                <div *ngIf="name.invalid && name.touched" class="mb-3 text-danger">
                    Please enter a valid Contact name
                 </div>

                 <!-- image -->
                 <div class="form-floating mb-3">
                    <input name="photo" #photo="ngModel" [(ngModel)]="contact.photo" type="text" class="form-control" id="floatingInputimg" placeholder="Contact Image URL" required>
                    <label for="floatingInputimg">Contact Image URL</label>
                </div>
                <!-- invalid photo -->
                <div *ngIf="photo.invalid && photo.touched" class="mb-3 text-danger">
                    Please enter a valid Contact Image
                 </div>

                 <!-- email -->
                 <div class="form-floating mb-3">
                    <input name="email" #email="ngModel" [(ngModel)]="contact.email" type="text" class="form-control" id="floatingInputemail" placeholder="Contact E mail" email required>
                    <label for="floatingInputemail">Contact E mail</label>
                </div>
                <!-- invalid id -->
                <div *ngIf="email.invalid && email.touched" class="mb-3 text-danger">
                    Please enter a valid email
                 </div>

                 <!-- mobile -->
                 <div class="form-floating mb-3">
                    <input name="mobile" #mobile="ngModel" [(ngModel)]="contact.mobile" type="text" class="form-control" id="floatingInputmobile" placeholder="Contact Mobile" pattern="[0-9]*" minlength="10" maxlength="10" required>
                    <label for="floatingInputmobile">Contact Mobile</label>
                </div>

                <!-- invalid mobile -->
                <div *ngIf="mobile.invalid && mobile.touched" class="mb-3 text-danger">
                    Please enter a valid Contact Number
                 </div>

                 <!-- company -->
                 <div class="form-floating mb-3">
                    <input name="company" #company="ngModel" [(ngModel)]="contact.company" type="text" class="form-control" id="floatingInputcompany" placeholder="Contact Company Name" required>
                    <label for="floatingInputcompany">Contact Company Name</label>
                </div>
                <!-- invalid company -->
                <div *ngIf="company.invalid && company.touched" class="mb-3 text-danger">
                    Please enter a valid Company Name
                 </div>

                 <!-- profession -->
                 <div class="form-floating mb-3">
                    <input name="title" #title="ngModel" [(ngModel)]="contact.title" type="text" class="form-control" id="floatingInputtitle" placeholder="Contact Title" required>
                    <label for="floatingInputtitle">Contact Title</label>
                </div>
                <!-- invalid title -->
                <div *ngIf="title.invalid && title.touched" class="mb-3 text-danger">
                    Please enter a valid Profession
                 </div>
                 <!-- dropdown choose group -->
                 <div class="form-floating mb-3">
                    <select name="groupId" #groupId="ngModel" [(ngModel)]="contact.groupId" class="form-control" id="floatingInputgroup" required >
                        <option [value]="group.id" *ngFor="let group of groups">
                            {{group.name}}
                        </option>
                    </select>
                    <label for="floatingInputgroup">Select A Group</label>
                </div>
                <!-- invalid group dropdown -->
                <div *ngIf="groupId.invalid && groupId.touched" class="mb-3 text-danger">
                    Please choose a valid Group
                 </div>
                <!-- buttons -->
                <div class="mb-3">
                    <button (click)="updatecontact(contact.id,contact)" [disabled]="editContactForm.invalid"  class="btn btn-success">Update</button>
                    <a  routerLink="" class="btn btn-secondary ms-3">Close</a>
                </div>
            </form>
        </div>
        <!-- contact image -->
        <div class="col-md-4 mt-5">
            <img class="contact_img mt-5" [src]="contact.photo" alt="contact">

        </div>
    </div>
</div>